/*GLobal Style*/
html {
    overflow-x: hidden;
    overflow-y: hidden;
}

body{
    font-family: 'Fuzzy Bubbles', cursive;
    background-color: #141515;
    text-align: center;
}



/*Header*/
h1{
    color: rgb(224, 224, 224);
    font-size: 3em;
}

#heading{
    color: rgb(224, 224, 224);
    font-size: 2em;
    text-align: left;
}


/*Home button*/

#home-button:hover{
   border-bottom: 2px solid #fff;
   text-shadow:
    0 0 3px #E73651,
    0 0 6px #FEEA00,
    0 0 10px #41EAD4,
    0 0 14px #E73651,
    0 0 20px #FEEA00;
}

/*Robot*/

#robot{
    color: Mediumslateblue;
    margin: 0;
    padding-bottom: 10px;
}

#robot:hover{
    color: #fff;
    text-shadow:
    0 0 7px Mediumslateblue,
    0 0 10px Mediumslateblue,
    0 0 21px Mediumslateblue,
    0 0 42px Mediumslateblue,
    0 0 82px Mediumslateblue,
    0 0 102px Mediumslateblue,
    0 0 122px Mediumslateblue;
}


/*Computer weapons*/
.computer-weapons > i{
    padding: 20px;
}

.computer-weapons > div{
    display: inline-block;
    padding:10px 15px;
} 

#comp-r{
    color: slategray;
}

#comp-p{
    color: slategray;
}

#comp-s{
color: slategray;
}

/*user weapons*/

.game-weapons > i{
    padding: 50px;
}

.game-weapons > div{
    display: inline-block;
    padding: 50px;
}

#rock, #h-rock{
    color: #E73651;
    text-shadow: 0;
}

#paper, #h-paper{
    color: #FEEA00;
    text-shadow: 0;
}

#scissors, #h-scissors{
color: #41EAD4;
text-shadow: 0;
}

#rock:hover{
    color: #fff;
    text-shadow:
    0 0 7px #E73651,
    0 0 10px #E73651,
    0 0 21px #E73651,
    0 0 42px #E73651,
    0 0 82px #E73651;
}

#paper:hover{
    color: #fff;
    text-shadow:
    0 0 7px #FEEA00,
    0 0 10px #FEEA00,
    0 0 21px #FEEA00,
    0 0 42px #FEEA00,
    0 0 82px #FEEA00;
}

#scissors:hover{
    color: #fff;
    text-shadow:
    0 0 7px #41EAD4,
    0 0 10px #41EAD4,
    0 0 21px #41EAD4,
    0 0 42px #41EAD4,
    0 0 82px #41EAD4;
    }
/*Result box*/
h2{
    color: rgb(224, 224, 224);
    margin:  0;
    padding-top: 25px;
}
#aim{
    color: rgb(224, 224, 224);
    padding:25px 0;
    margin: 0;
    display:inline-block;
}

/*Reset button to restart the game*/

#reset {
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 2.5em;
    color: rgb(19, 20, 20);
    padding: 2px;
    margin-top: 20px;
    display: none;
    border: 1px solid #141515;
    border-radius: 10px;
    background-image: linear-gradient(to right,#41EAD4,#41EAD4,#FEEA00,#FEEA00,#E73651,#E73651);
}

#reset:hover{
    box-shadow: outset 0 0 12px 12px #fff, inset 0 0 3px 2px #fff;
    background: linear-gradient(to right, #E73651,#E73651,#FEEA00,#FEEA00,#41EAD4,#41EAD4);
}

/*Username Input Box*/

#username-box{
    font-size: 1em;
    margin-top: 15px;
    padding: 2px;
    border:2px solid rgb(87, 87, 87);
    border-radius: 3px;
    background-color: #141515;
}

input[type=text]{
    color: #fff;
}

/*Play button*/
#lets-play{
    font-family: 'Fuzzy Bubbles', cursive;
    background-image: linear-gradient(to right,#41EAD4,#41EAD4,#FEEA00,#FEEA00,#E73651,#E73651);
    font-size: 4em;
    color: rgb(38, 44, 49);
    padding: 0.5em;
    border: 1px solid #141515;
    margin: 0.5em;
    border-radius: 50px;
}

#lets-play:hover{
    box-shadow: outset 0 0 12px 12px #fff, inset 0 0 3px 2px #fff;
    background: linear-gradient(to right, #E73651,#E73651,#FEEA00,#FEEA00,#41EAD4,#41EAD4);

}

/*Scoreboard*/

.scoreboard{
    border: 3px solid #eb8493;
    border-radius: 4px;
    margin: 20px auto;
    width: 200px;
    color: rgb(224, 224, 224);
    font-size: 35px;
    text-align: center;
    padding: 15px 20px;
    position: relative;
}

.badge{
    background: #141515;
    border: 1px solid;
    border-radius: 4px;
    color: rgb(224, 224, 224);
    font-size: 14px;
    padding: 2px 10px;
}
#computer-score{
    padding-left: 10px;
}
#user-score{
    padding-right: 10px;
}

#user-label{
    position: absolute;
    top: 27px;
    left: -30px;
}

#computer-label{
    position: absolute;
    top: 27px;
    right: -33px;
}

/*Mouse animation https://codepen.io/morphed/pen/LZWppE*/

.circle {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    position: absolute;
    border-radius: 15px;
    z-index: -10;
}

/*Media queries*/

@media screen and (max-width: 800px){

.game-weapons{
    width: 80%;
    margin: 0 10%;
}
#h-rock, #h-paper, #h-scissors{
    padding: 25px;
    font-size:9.5em;
} 
#lets-play{
    font-size: 3em;
}
#rock, #paper, #scissors{
    font-size: 0.8em;
    padding: 15px;
    margin-top: 40px;
}
#comp-r, #comp-p, #comp-s{
    padding: 10px;
    font-size: 0.8em;
}
}

@media screen and (max-width: 600px){
    h1{
        font-size: 2em;
        margin-bottom: 40px;
    }
    h2{
        margin: 40px 10px 20px 10px;
    }
    .game-weapons{
        width: 80%;
        margin: 0 10%;
    }
    #h-rock, #h-paper, #h-scissors{
        padding: 15px;
        font-size:8em;;
    } 
    #lets-play{
        font-size: 2em;
    }
    #rock, #paper, #scissors{
        font-size: 0.55em;
        padding: 8px;
        margin-top: 0;
    }
    #comp-r, #comp-p, #comp-s{
        padding: 10px;
        font-size: 0.7em;
    }
}


@media screen and (max-width: 420px){
    h2{
        font-size: 1em;
        margin-top: 10px;
        padding-top: 10px;;
    }
    .result-text{
        margin-top: 5px;
    }
    .game-weapons{
        width: 90%;
        margin: 8% 5%;
    }
    #h-rock, #h-paper, #h-scissors{
        padding: 15px;
        font-size: 4em;;
    } 
    #lets-play{
        margin: 40px 0;
        font-size: 1.5em;
    }
    #rock, #paper, #scissors{
        font-size: 0.5em;
        padding: 10px;
        margin-top: 0;
    }
    #robot{
        font-size: 3em;
    }
    #comp-r, #comp-p, #comp-s{
        padding: 10px;
        font-size: 0.6em;
    }
    #heading{
        font-size: 1.5em;
    }
    .scoreboard{
        font-size: 20px;
        margin: 0 auto;
        width: 150px;
    }
    #user-label{
        position: absolute;
        top: 18px;
        left: -30px;
    }
    
    #computer-label{
        position: absolute;
        top: 18px;
        right: -33px;
    }
    
}

@media screen and (max-width: 350px){
    header{
        margin-bottom: 5px;
    }
    h1{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h2{
        font-size: 0.8em;
        margin-top: 5px;
        padding-top: 5px;;
    }
    .result-text{
        margin-top: 5px;
    }
    .game-weapons{
        width: 90%;
        margin: 5px auto;
    }
    #h-rock, #h-paper, #h-scissors{
        padding: 5px;
        font-size: 4em;;
    } 
    #lets-play{
        margin: 40px 0;
        font-size: 1.5em;
    }
    #rock, #paper, #scissors{
        font-size: 0.5em;
        padding: 5px;
        margin-top: 0;
    }
    #robot{
        font-size: 2em;
    }
    #comp-r, #comp-p, #comp-s{
        padding: 5px;
        font-size: 0.6em;
    }
    #heading{
        font-size: 1.5em;
    }
    .scoreboard{
        font-size: 20px;
        margin: 0 auto;
        width: 75px;
    }
    #user-label{
        position: absolute;
        top: 18px;
        left: -30px;
    }
    
    #computer-label{
        position: absolute;
        top: 18px;
        right: -33px;
    }
    
}




